@model DoceApp.Models.UserViewModel;
@{
	ViewData["Title"] = "RegisterUser";
	Layout = "CleanLayout";

	var hasReturn = Model?.ReturnMessage != null ? "true" : "false";
	var message = Model?.ReturnMessage != null ? Model.ReturnMessage : new DoceApp.Models.Entidades.ToastrMessage("", "", "");
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h1 class="title">Candy Gourmet</h1>
		</div>
		<div class="facaLogin">
			<div class="box-login">
				<h1 class="subtitle">Cadastro</h1>
			</div>
			<br/>
			<form method="post" asp-controller="User" asp-action="RegisterUser">

				<span asp-validation-for="Name" class="text-danger"></span>
				<input class="form-control input-lg" asp-for="Name" type="text" aria-label="Nome" placeholder="Nome">
				
				<br/>

				<span asp-validation-for="Cpf" class="text-danger"></span>
				<input id="txtCPF" class="form-control input-lg" asp-for="Cpf" type="text" aria-label="Cpf" >

				
				<br/>

				<span asp-validation-for="Birthdate" class="text-danger"></span>
				<label>Data de nascimento: </label>
				<input class="form-control " asp-for="Birthdate" type="date" aria-label="Bithdate">
				
				<br />

				<span asp-validation-for="Email" class="text-danger"></span>
				<input class="form-control " asp-for="Email" type="email" placeholder="E-mail">

				<br />

				<span asp-validation-for="Nickname" class="text-danger"></span>
				<input class="form-control " asp-for="Nickname" type="text" placeholder="Nome de usuário">

				<br />

				<span asp-validation-for="Password" class="text-danger"></span>
				<input class="form-control " asp-for="Password" type="password" placeholder="Senha">

				<br />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				<input class="form-control " asp-for="ConfirmPassword" type="password" placeholder="confirmar senha">

				<br />

				<p>
					Use oito caracteres com uma combinação de letras, números e símbolos.
				</p>

				<br/>

				<button type="submit" class="btn btn-primary" > Cadastrar</button>
				
				<p class="link">
					Já tem conta?
					<a href="@Url.Action("RegisterUser", "User")">Ir para Login </a>
				</p>
			</form>
		</div>
	</div>
</div>
<script>
	if ("@hasReturn" === "true") {
		CallToastr("@message.Type", "@message.Title", "@message.Message")
	}
	
	$('#txtCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
</script>