@model DoceApp.Models.UserViewModel;
@{
	ViewData["Title"] = "RegisterUser";
	Layout = "CleanLayout";

	var hasReturn = Model?.ReturnMessage != null ? "true" : "false";
	var message = Model?.ReturnMessage != null ? Model.ReturnMessage : new DoceApp.Models.Entidades.ToastrMessage("", "", "");
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
*@
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h1 class="title">Candy Gourmet</h1>
		</div>
		<div class="facaLogin">
			<div class="box-login">
				<h1 class="subtitle">Cadastro</h1>
			</div>
			<br/>
			<form method="post" asp-controller="User" asp-action="Register">

				<span asp-validation-for="Name" class="text-danger"></span>
				<input class="form-control input-lg" asp-for="Name" type="text" aria-label="Nome" placeholder="Nome">
				
				<br/>

				<span asp-validation-for="Cpf" class="text-danger"></span>
				<input class="form-control input-lg" asp-for="Cpf" type="text" aria-label="Cpf" placeholder="ex:000.000.000-00">
				
				<br/>

				<span asp-validation-for="Bithdate" class="text-danger"></span>
				<input class="form-control " asp-for="Bithdate" type="date" aria-label="Bithdate">

				<br />

				<span asp-validation-for="Email" class="text-danger"></span>
				<input class="form-control " asp-for="Email" type="email" placeholder="ex:example@email.com">

				<br />
									

				<p>
					Use oito caracteres com uma combinação de letras, números e símbolos.
				</p>

				<br/>

				<button type="submit" class="btn btn-primary" > Cadastrar</button>
				
				<p class="link">
					Já tem conta?
					<a href="@Url.Action("Login", "User")">Ir para Login </a>
				</p>
			</form>
		</div>
	</div>
</div>
<script>
	if ("@hasReturn" === "true") {
		CallToastr("@message.Type", "@message.Title", "@message.Message")
	}
</script>